// Import page-specific CSS files here.
body {
  .jumbotron {
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: $primary;

    .container .banner {
      height: calc(100vh - 66px);
      color: white;
      font-weight: 900;

      h1 {
        text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        .btn {
          margin-top: 35px;
          color: inherit;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
