<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10 p-3">

    <h1 class="my-5 mb-3 fst-bold text-center">Edit Task <%= @task.title %></h1>

    <%= turbo_frame_tag "edit_#{ dom_id @task }" do %>

      <%= render 'form', task: @task %>

    <% end %>

  </div>

</div>
