<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10 p-3">

    <div class="header d-flex justify-content-between align-items-center">

      <h1 class="my-5 mb-3 fst-bold">All Tasks</h1>

      <%= link_to new_task_path, class: "btn bg-quinary btn-lg", title: "Add a new Task?" do %>
        <i class="fa-solid fa-square-plus"></i>
      <% end %>

    </div>

    <hr>

    <div class="cards tasks-container collapse-container"  data-controller="dragula">

      <% @tasks.each do |task| %>

        <%= render 'task_card', task: task %>

      <% end %>

    </div>

  </div>
</div>
<%# <script src="https://gist.github.com/lucideuclid/953921ea16cd1fa60502fafb3b3da999.js"></script> %>
