<div class="">

  <%= link_to "Back to tasks", tasks_path, class: "btn btn-secondary m-1" %>

  <% if sub_task.persisted? %>

    <%= link_to "Add a Sub Task", new_task_sub_task_path(sub_task.task), class: "btn btn-primary m-1" %>

    <% if policy(sub_task).edit? %>
      <%= link_to "Edit", edit_sub_task_path(sub_task), class: "btn btn-warning m-1" %>
    <% end %>

    <%= link_to "Delete", sub_task_path(sub_task), class: "btn btn-danger m-1", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(sub_task).destroy? %>

  <% end %>

</div>
