<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10">

    <h1 class="my-5 mb-3 fst-bold">Edit Sub Task <%= @sub_task.order %></h1>

    <%= render 'form', task: @task, sub_task: @sub_task %>

  </div>
</div>
