<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10">

    <h1 class="my-5 mb-3 fst-bold text-center">Add a New Sub Task</h1>

    <%= render 'form' %>

    <div class="text-center">
      <%= render 'links', sub_task: @sub_task %>
    </div>

  </div>
</div>
