<footer class="py-5 bg-tertiary text-quarternary fs-5">


  <div class="container h-100 d-flex justify-content-between align-items-end">

      <div>

        <i class="animate-shadow fa-brands fa-square-facebook"></i>

        <i class="animate-shadow fa-brands fa-pinterest"></i>

        <i class="animate-shadow fa-brands fa-linkedin"></i>

        <i class="animate-shadow fa-brands fa-square-instagram"></i>

      </div>

      <div>

        <span class="animate-text-shadow copyright">

          <i class="fa-solid fa-scale-balanced"></i> Copyright &copy; MMXXIV - Marcus Aurelius

        </span>

      </div>

  </div>

</footer>
