<div class="jumbotron" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('');">

  <div class="container flex-column">

    <div class="banner d-flex justify-content-between align-items-center">
      <%# <%= image_tag('tsj-logo.svg', class: "rounded-5") %>
      <h1 class="animate__animated animate__fadeInUp animate__slow">
        <span class="display-1">The Stoic Journal</span>
        <hr>
        <span class="bd-font display-5 fst-italic">
          Accept what you cannot control.&nbsp;
          <span class="fst-normal">Focus</span> on what you can!
        </span>

        <a href="<%= daily_log_path %>" class="animate__animated animate__headShake animate__delay-2s animate__repeat-3 animate-inset-shadow fs-3 fw-bold btn bg-quinary btn-lg text-success">

          Start <span class="fst-italic">Your</span> Journey Today!

        </a>
      </h1>

    </div>

  </div>

</div>
