
<%= render "shared/jumbotron" %>

<div class="container d-none">

    <h1 class="mt-5 mb-2">Lorem Ipsum Dolor</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh dui, tristique et lorem sed, congue dictum erat. Nullam blandit ante id volutpat porta. Ut fringilla massa at leo vulputate malesuada. In sagittis magna ante, quis accumsan dui consectetur non. Ut pulvinar, sem eget sodales egestas, risus leo facilisis sem, nec egestas massa massa a elit. Donec malesuada consectetur turpis, ut elementum massa maximus vel. Aliquam erat volutpat. Donec vestibulum elit sapien, vel molestie sem placerat ac.</p>
    <hr>

    <div class="d-flex justify-content-between allign-items-center">

      <div class="left-col p-2">

        <h2>Suspendisse Ullamcorper Nulla</h2>
        <p>Suspendisse ullamcorper nulla leo. Phasellus dolor sem, blandit eu porta a, venenatis scelerisque lacus. In hac habitasse platea dictumst. Donec mollis urna velit, sed placerat lorem vehicula quis. Morbi vel justo dapibus, rutrum sem id, sollicitudin urna. Vivamus et nisl fermentum, dignissim eros vel, fermentum lacus. Vestibulum consequat, tortor eu sodales efficitur, justo felis volutpat odio, vel consectetur sem justo in eros.</p>

        <h3>Mauris Dictum Vitae</h3>
        <p>Mauris dictum vitae nisi nec gravida. Duis auctor luctus dapibus. Nullam lacinia, sapien vitae lobortis scelerisque, neque enim pellentesque tellus, ut posuere nibh urna vitae elit. Suspendisse eget tellus eget lorem ullamcorper pellentesque. Nunc in sapien eget erat bibendum elementum id vitae leo. Donec malesuada lobortis lectus ac molestie. In malesuada interdum dapibus. Aenean convallis leo sit amet metus dapibus, nec facilisis leo maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

      </div>

      <div class="right-col p-2">

        <h4>Nunc Finibus Augue</h4>
        <p>Nunc finibus augue nunc, eu consequat justo sollicitudin quis. Vivamus semper in lectus in ornare. Phasellus bibendum libero eget aliquam egestas. Ut accumsan pharetra nibh eu semper. Pellentesque quis ultricies lacus. Quisque tincidunt lacinia nisl aliquet sodales. Nullam ac purus et tortor ornare pharetra quis vitae neque. Aenean finibus purus sed tempor blandit. Aliquam sagittis nisl vel tincidunt aliquam. Suspendisse sit amet vulputate odio.</p>

        <h5>Duis Ultricies Tortor&hellip;</h5>
        <p>Duis ultricies tortor mi, ut scelerisque odio accumsan et. Nam ut iaculis est, sed tincidunt nulla. Etiam sapien ipsum, dignissim in fermentum vel, pulvinar vel enim. Aenean ut nunc orci. Mauris a magna sodales, congue nulla nec, euismod massa. Donec at dapibus enim. Morbi laoreet tempus neque, a ultricies massa mattis eget. Etiam ut tristique nulla.</p>

      </div>

    </div>

</div>
