
<%= render "shared/jumbotron" %>

<div class="container-md">

    <h1 class="mt-5 mb-2">Stoic Philosophy</h1>

    <p class="lead"><strong>Stoicism</strong> is an ancient philosophy that emphasizes virtue, reason, and living in accordance with nature. It teaches that true happiness comes from within and cannot be affected by external events. Stoics believe that focusing on what we can control (our thoughts and actions) and accepting what we cannot control (external events) is key to a fulfilling life. </p>

    <hr class="my-5">

    <h3>In today's world, Stoicism can help us by teaching us to:</h3>

    <ul class="lead">
      <li><strong>Focus on the present moment:</strong> By practicing mindfulness and focusing on the present, we can reduce stress and anxiety about the future or the past.</li>
      <li><strong>Develop self-control:</strong> Stoicism emphasizes the importance of controlling our emotions and impulses. By practicing self-control, we can make better decisions and live more fulfilling lives.</li>
      <li><strong>Accept what we cannot change:</strong> By accepting that some things are beyond our control, we can avoid unnecessary stress and frustration.</li>
      <li><strong>Focus on our values:</strong> Stoicism encourages us to live in accordance with our values and principles. By doing so, we can live a more meaningful and purposeful life.</li>
      <li><strong>Practice gratitude:</strong> By focusing on the good things in our lives, we can cultivate a sense of gratitude and appreciation.</li>
    </ul>

    <hr class="my-5">

    <p class="lead">Overall, Stoicism offers a practical framework for living a more fulfilling and meaningful life. By applying its principles to our daily lives, we can develop greater self-awareness, resilience, and inner peace.</p>

</div>
