

<div class="d-flex justify-content-center align-items-start min-vh-100">
  <div class="col-md-10">
    <!-- Put your stuff below this line, Jon -->

<h1 class="mb-5">Meet The Team</h1>

   <!-- Team Member Section -->
    <div class="row text-center justify-content-center">
      <!-- Rehyan -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0" style="width: 18rem;">
          <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFo0QXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--b438ec06c005cb9215b3125338bc5a7055c6e8be/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNJYVFISWFRSElld1k2Q1dOeWIzQTZEbUYwZEdWdWRHbHZiZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--23cdbdf9871e44adeb4d843a03b0793a5f08394b/IMG_4770.jpeg" class="card-img-top team-img rounded-circle mx-auto d-block" alt="Rehyan" style="width: 170px;">
          <div class="card-body">
            <h5 class="card-title">Rehyan</h5>
            <p class="card-text">Dev</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <!-- Paul -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0" style="width: 18rem;">
          <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBd0ErQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2d5e88acd264501b52d1a84625c82aeba643b99e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2hwQWNocEFjaDdCam9KWTNKdmNEb09ZWFIwWlc1MGFXOXUiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b67d9ded4d28d0969fbb98b4c21b79257705a99a/20240805_234634.jpg" class="card-img-top team-img rounded-circle mx-auto d-block" alt="Paul" style="width: 170px;">
          <div class="card-body">
            <h5 class="card-title">Paul</h5>
            <p class="card-text">Dev</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <!-- Jon -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0" style="width: 18rem;">
          <img src="https://d26jy9fbi4q9wx.cloudfront.net/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBLzFKQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f8872b71011e210ae17fc973906c1e365fa78db0/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2hwQWNocEFjaDdCam9KWTNKdmNEb09ZWFIwWlc1MGFXOXUiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--df4f7d63fe19fb30952f52eed6dffc392a97578c/MEZOOM.png" class="card-img-top team-img rounded-circle mx-auto d-block" alt="Jon" style="width: 170px;">
          <div class="card-body">
            <h5 class="card-title">Jon</h5>
            <p class="card-text">Dev</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="mb-0">Our Mission</h1>
