<div class="d-flex justify-content-center align-items-start min-vh-100">

  <div class="col-md-10">

    <h1 class="my-5 mb-3 fst-bold text-center">Add a New Sub Task</h1>

    <%= turbo_frame_tag "new_subtask_for_#{ dom_id @task }" do %>

      <%= render 'form', task: @task, subtask: @subtask %>

    <% end %>

  </div>
</div>
