@import "simple_calendar";
@import "flatpickr.min";
@import "confirmDate";
@import "material_green";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";

.btn-xs {
  @include button-size(0.15rem, 0.4rem, $btn-font-size-sm, 1px);
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

// input:invalid + span::after {
//   content: "✖";
//   padding-left: 5px;
// }

// input:valid + span::after {
//   content: "✓";
//   padding-left: 5px;
// }

.task-menu-toggle::after,
.subtask-menu-toggle::after {
  content: none;
}
.task-menu-dropdown.dropdown-menu.dropdown-menu-end {
  min-width: 17rem;
  padding: 0.5rem;
}
.subtask-menu-dropdown.dropdown-menu.dropdown-menu-end {
  min-width: 9rem;
  padding: 0.5rem;
}

.recurs-on-days.form-group fieldset {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}
.recurs-on-days.form-group fieldset .form-check {
  margin: 0;
  padding: 0;
}
.recurs-on-days.form-group fieldset .form-check-input {
  position: absolute;
  transform: scale(0);
}
.recurs-on-days.form-group fieldset .form-check-input + label {
  display: inline-block;
  cursor: pointer;
  color: $quinary;
  background-color: lighten($quinary, 20%);
  border: solid 2px $quinary;
  border-radius: 1.5rem;
  padding: 0.25rem 0.75rem;
  margin: 0 0.5rem 0 0;
}
.recurs-on-days.form-group fieldset .form-check-input:checked + label {
  color: lighten($quinary, 20%);
  background-color: $quinary;
  border: solid 2px lighten($quinary, 20%);
}

#profile-page .left {
  width: 43% !important;
}

#profile-page .right {
  width: 57% !important;
}

.btn {
  font-weight: 900;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card h3.card-title {
  display: inline-block;
  vertical-align: middle;
}

.card h3.card-title.overflow-fade span[contenteditable="true"] {
  display: inline-block;
  // width: auto;
  white-space: nowrap;
  overflow: hidden;
}

.card h3.card-title.overflow-fade {
  overflow: hidden;
  // max-width: 69%;
  position: relative;
  white-space: nowrap;
}

.card h3.card-title.overflow-fade::after {
  content: "";
  position: absolute;

  // left: 33%;
  right: 0;
  margin-left: -40px;
  width: 40px;
  height: 100%;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(240, 244, 245, 0),
    rgba(240, 244, 245, 1)
  );
}

.card-checked h3.card-title.overflow-fade::after {
  background: linear-gradient(
    to right,
    rgba(240, 244, 245, 0),
    rgba(red($quinary), green($quinary), blue($quinary), 1)
  );
}

.card-checked {
  background-color: $quinary;
  color: white;
}
.card .card-header > * {
  margin: 0;
  font-weight: 600;
}
.card .card-header h3.card-title > i,
.card .card-header h3.card-title .order-wrapper {
  padding: 0 0.4rem;
}
.card .card-header > h3 > span > label {
  display: inline-block;
}
// For the Faux-checkbox and drag 'n' drop handle
.card .card-header h3.card-title .start-date-time,
.card .card-header h3.card-title .title-wrapper,
.card .card-header h3.card-title > i,
.card .card-header > h3 > span > label:hover,
.card .card-header > h3 > span > label:hover i {
  cursor: pointer;
}
.card .card-header h3.card-title .start-date-time {
  position: relative;
}
.card .card-body .card-text {
  font-weight: 600 !important;
}

.card.task {
  margin: 1em 0.5em 0.5em 0.5em;
}
.card.task .card-header h3.card-title {
  font-size: 1.7em !important;
}
.card.task .card-body .card-text {
  font-size: 1.2em !important;
}

.card.subtask {
  margin: 0.75em 0.5em 0em 3em !important;
}
.card.subtask:last-of-type {
  margin-bottom: 0.75em !important;
}
.card.subtask .card-header h3.card-title {
  font-size: 1.5em !important;
}
.card.subtask .card-body .card-text {
  font-size: 1em !important;
}

#profile-page .card.task .card-header h3.card-title,
#profile-page .card.subtask .card-header h3.card-title {
  font-weight: 500;
  font-size: 1.2em !important;
}
#profile-page .card.task .card-body .card-text,
#profile-page .card.subtask .card-body .card-text {
  font-weight: 500;
  font-size: 0.9em !important;
}
#profile-page h2 button {
  border: none !important;
}

.card.task,
.card.subtask {
  max-width: 100%;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out allow-discrete;
}
.card.task:hover {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
  border: solid 2px $success;
}
.card.subtask:hover {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: solid 1px $success;
}

#profile-page .card.task .card-header h3.card-title,
#profile-page .card.subtask .card-header h3.card-title > * {
  // font-weight: 500 !important;
  font-size: 1.1em !important;
}
#profile-page .card.task .card-body .card-text,
#profile-page .card.subtask .card-body .card-text {
  // font-weight: 500 !important;
  font-size: 0.9em !important;
}

// Totally hide the subtask card if user clicks 'remove' button
.subtask-fields.removed-by-vanilla-nested {
  display: none !important;
}

.handle:hover {
  cursor: pointer;
}

.bg-red {
  background-color: $red !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-yellow {
  background-color: $yellow !important;
}

// Theme class definitions
.hd-font {
  font-family: $headers-font !important;
}
.bd-font {
  font-family: $body-font !important;
}

.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}
.text-secondary {
  color: $secondary !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}
.text-tertiary {
  color: $tertiary !important;
}

.bg-quarternary {
  background-color: $quarternary !important;
}
.text-quarternary {
  color: $quarternary;
}

.bg-quinary {
  background-color: $quinary !important;
}
.text-quinary {
  color: $quinary !important;
}

// Copied over from AirCNC
body {
  // Should be: font-family: "Playwrite DE Grund", cursive;
  // see config/_fonts.scs to change this globally
  background-color: $body-bg;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // Should be: Urbanist, see config/_fonts.scs to change this globally
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  font-family: $body-font;
  font-weight: 300;
}
div.navbar.sticky-top {
  border-bottom: 7px solid $success;
}
.navbar .nav-item .avatar {
  font-size: 1.5rem;
  color: var(--bs-nav-link-color);
  margin-left: 5px;
}
.navbar .nav-item a.avatar img.avatar {
  border: solid 3px $success;
}

.animate-shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.animate-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
}
.animate-inset-shadow {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.animate-inset-shadow:hover {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}
.animate-text-shadow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  transition: text-shadow 0.3s ease-in-out;
}
.animate-text-shadow:hover {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.text-nowrap {
  white-space: nowrap;
}

.devise-signup-links a {
  color: $gray;
  text-decoration: none;
  font-size: 0.75rem;
  font-style: italic;
}

.form {
  font-size: 0.75rem !important;
}

.jumbotron {
  position: relative;
  background-position: center;
  background-size: cover;
  background-color: $primary;

  .container .banner {
    height: calc(100vh - 66px);
    color: white;
    font-weight: 900;

    h1 {
      text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      .btn {
        margin-top: 35px;
        color: inherit;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

// /* Style for the form container */
// form {
//   background-color: #f8f8f8;
//   padding: 20px;
//   border-radius: 10px;
//   max-width: 500px;
//   margin: 0 auto;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
// }

/* Headings */
.RR-form h2,
.RR-form h3 {
  font-family: "Arial", sans-serif;
  color: #333;
  margin-bottom: 15px;
}

footer {
  margin-top: 75px;
  height: 300px;
  background-color: $secondary;
}

.team-img {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.team-img:hover {
  filter: grayscale(0);
}
